.spin-wheel-container{
  background-color: white;
  margin-top: 2rem;  
  padding-bottom: 40rem;
  margin-bottom: 10rem;
}
.names-container{

    margin-top: 5rem !important;
    height: 100%;
    border: 1px solid black; /* Thin border */


}
.namelists{
  padding-left: 3rem;
  padding-top: 1rem;
}
/* .gTLZXx{
  top: 40% !important;
    right: 40% !important;
    transform: rotate(140deg) !important;
} */

body{
  background-color: #aed589  !important;
}

.spin-wheel{
  margin-top: 5% !important ;
  padding-left: 7% !important;
}
